/* style.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #161616;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: crosshair;
}

#headbar{
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    flex-direction: row;
    background: #131313;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;  /* This makes the element fixed */
    top: 0;            /* Positions it at the top of the viewport */
    left: 0;           /* Positions it at the left of the viewport (optional) */
}

#bedgegif{
    width: 60px;
    height: 60px;
    margin: 10px;
}

.headtitles{
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#bedgename{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.headtitle{
    margin: 10px;
}

#headcommands{
    color: #e9e9e9;
}
#headhome{
    color: #8f8f8f;
}
#headhome:hover, #headcommands:hover{
    color: #00ff2a;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    margin: 20px;
    width: 90%;
    margin-top: 130px;
    border-radius: 5px;
    background-color: #1b1b1b;
    border: 1px solid #444;
}

.search-bar:hover {
    border: 1px solid #00ff2a;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    border: none;
}

.command-grid {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    list-style: none;
}
#commands{
    width: 100%;
    padding-left: 0;
}
.command-grid li {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1b1b1b;
    color: #fff;
    list-style: none;
    margin: 20px;
}
.command-grid li:hover {
    border: 1px solid #00ff2a;
}
.command-grid li h3 {
    margin-top: 2px;
    margin-bottom: 3px;
}

.command-grid li p {
    font-size: 14px;
}

.command-grid li span {
    font-size: 16px;
    background: #222;
    border-radius: 5px;
    padding: 3px;
}


*{
    transition: all ease 0.2s;
}