:root{
    --text-size: 20px;
    --text-shadow: 1px 1px 5px black;
}
body{
    padding: 0;
    margin: 0;
    background: transparent;
}
#chat{
    width: 100vw;
    height: 100vh;
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    overflow: hidden;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--text-size);

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
p, span{
    text-shadow: var(--text-shadow);
    margin: 0;
    padding: 0;
    margin-left: calc(var(--text-size) / 10);
}
.emote{
    filter: drop-shadow(var(--text-shadow));
    height: var(--text-size);
    margin-left: calc(var(--text-size) / 8);
    margin-right: calc(var(--text-size) / 8);
}
.badge{
    filter: drop-shadow(var(--text-shadow));
    height: var(--text-size);
    margin-left: calc(var(--text-size) / 10);
    position: relative;
    top: calc(var(--text-size) / 6);
}
