:root{
    --text-size: 20px;
    --text-shadow: 1px 1px 5px black;
}
body{
    padding: 0;
    margin: 0;
    background: transparent;
}
#chat{
    width: 100vw;
    height: 100vh;
    background: transparent;
    border: none;
    color: #ffffff;
    overflow: hidden;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--text-size);
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    box-shadow: inset 0 0 100px #00ff80;
}
.emote{
    height: var(--text-size);
    margin-left: calc(var(--text-size) / 8);
    margin-right: calc(var(--text-size) / 8);
}
.badge{
    height: var(--text-size);
    margin-left: calc(var(--text-size) / 5);

    position: relative;
    top: calc(var(--text-size) / 6);
}
.message{
    filter: drop-shadow(var(--text-shadow));
    margin: calc(var(--text-size) / 4.5);
    width: fit-content;
    overflow-wrap: break-word;
}

#loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#loadingStatus{
    background:#00000098;
    padding: 3vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8vmin;
    color: white;
    border-radius: 3vmin;
}
#ppcircle{
    width: 50vmin;
}
