body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hsla(0,100%,50%,1);
background-image:
radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}

#main{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create_box{
    display: flex;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    scroll-behavior: smooth;
    color: white;
    background: #1b1b1b;
    border-radius: 1vmin;
    height: 40vmin;
    width: 80vmin;
    flex-direction: row;
    font-size: 3vmin;
    margin: 1vmin;
}
#left_side ,#right_side{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    margin: 1vmin;
    display: flex;
    justify-content: space-between;
}
#channel{
    width: 90%;
    height: 10%;
    margin: 1vmin;
    font-size: 3vmin;
    background: #313131;
    border: none;
    color: white;
    border-radius: 1vmin;
}
.slider{
    width: 25vmin;
    background: #313131;
    outline: none;
    border-radius: 10vmin;
    margin: 0;
    padding: 0;
}
.slider::-webkit-slider-thumb{
    width: 5vmin;
    height: 5vmin;
    background: #00ffa2;
    border: none;
    cursor: pointer;
    border-radius: 100%;
}

.slider::-moz-range-thumb{
    width: 5vmin;
    height: 5vmin;
    background: #00ffa2;
    border: none;
    cursor: pointer;
    border-radius: 100%;
}

.switch{
    width: 5vmin;
    height: 5vmin;
    margin: 0;
    background: #313131;
    border-radius: 1vmin;
}

.select{
    font-size: 3vmin;
    background: #313131;
    border: none;
    color: white;
    border-radius: 1vmin;
}

#title{
    color: white;
    font-size: 10vmin;
    margin: 0;
}
#description{
    color: white;
    font-size: 5vmin;
    margin: 0;
}

#generate{
    height: 10vmin;
    background: #1b1b1b;
    font-size: 9vmin;
    text-align: center;
    border-radius: 1vmin;
    padding: 2vmin;
    padding-top: 0;
    margin: 1vmin;
    cursor: pointer;
    color: white;
}

#generate:hover{
    height: 10vmin;
    background: #00ffa2;
    font-size: 9vmin;
    text-align: center;
    border-radius: 1vmin;
    padding: 2vmin;
    padding-top: 0;
    margin: 1vmin;
    cursor: pointer;
    color: black;
}

#output_link{
    height: 4vmin;
    width: 90vw;
    background: #1b1b1b;
    font-size: 4vmin;
    text-align: center;
    border-radius: 1vmin;
    padding: 2vmin;
    padding-top: 0;
    margin: 1vmin;
    color: white;
    overflow: hidden;
    cursor: pointer;
    border: none;
}

#output_link:hover{
    height: 4vmin;
    width: 90vw;
    background: #3d3d3d;
    color: white;
}

*{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}